/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12/01/2021, 17:02:33
    Author     : JEFERSON
*/
*{
    margin:0;
    padding:0;
}
#container{
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    background: #24292E;
}
#div-olamundo{
    width: 50%;
    margin:0 auto;
    background-color:#fff;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
}
@media screen and (max-width: 500px){
    img{
        width: 100%;
    }
}